/* @import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

/* font-family: 'Open Sans', sans-serif; */
body {
  /* font-family: 'Syne Mono', monospace; */
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.chat-messages::-webkit-scrollbar {
  width: 5px;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: rgb(255 255 255 / 10%);
  border-radius: 100px;
}

.chat-messages::-webkit-scrollbar-thumb {
  border-radius: 100px;
  /* border: 5px solid transparent; */
  background-clip: content-box;
  background-color: rgb(128 112 212 / 42%);
}

.chat-container {
  position: relative;
  width: calc(100vh / 1.614061288377036);
  height: 100vh;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  display: none;
  justify-content: center;
}

.chat-container .local-video {
  top: 0;
  right: 0;
  position: absolute;
  width: 20vh;
  z-index: 5;
}

.chat-container .remote-video {
  position: absolute;
  height: 100vh;
}

.chat-container .chat-box {
  z-index: 2;
  width: 100%;
  height: 50vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #f8f9fa2e, rgba(248, 249, 250, 0) 100%);

}

.chat-box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
}

.chat-form {
  display: flex;
  width: 100%;
}

.chat-text-input,
.chat-message-send {
  border: none;
  outline: none;
  padding: 2.7vh;
}

.chat-text-input {
  flex: 1;
}

.chat-message-send {
  cursor: pointer;
  background: rgb(128 112 212);
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.chat-messages {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  padding: 0 5px 0px 5px;
}

.chat-messages>* {
  background-color: white;
  width: fit-content;
  padding: 3px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  align-items: end;
}

.chat-message-you {}

.chat-message-me {
  align-self: end;
}

.chat-message-time {
  margin-left: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #0000007d;
  user-select: none;
}

.join-chat-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  width: 250px;
  max-width: 95vw
}

.join-chat-form input,
.join-chat-form button {
  padding: 12px;
  border: none;
}

.join-chat-button {
  cursor: pointer;
}

.chat-text-message {
  word-break: break-word;
}

.loading-progress-on {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 7;
  gap: 15px;
}

.loading-progress-on .loading-text {
  color: #fff;
}

.loading-progress-on .spin {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  animation: loading-spin 2s linear infinite;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}