/* @import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

/* font-family: 'Open Sans', sans-serif; */
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
  width: 100%;
}

.chat-messages::-webkit-scrollbar {
  width: 5px;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: rgb(255 255 255 / 10%);
  border-radius: 100px;
}

.chat-messages::-webkit-scrollbar-thumb {
  border-radius: 100px;
  /* border: 5px solid transparent; */
  background-clip: content-box;
  background-color: rgb(128 112 212 / 42%);
}

.chat-container {
  --box-width: 70vw;
  --min-width: 1000px;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: var(--box-width);
  height: calc(1080/1920 * var(--box-width));
  max-width: 100%;
  max-height: 100%;
  /* background: #ff000a; */
  background: black;
  border: 2px solid #8070d4;
  position: relative;
  overflow: hidden;
  justify-content: center;
  box-sizing: border-box;
}

@media only screen and (max-width: 1400px) {

  .chat-container {
    --box-width: 80vw;
  }
}

@media only screen and (max-width: 1300px) {

  .chat-container {
    --box-width: 85vw;
  }
}

@media only screen and (max-width: 1100px) {

  .chat-container {
    --box-width: 90vw;
  }
}

@media only screen and (max-width: 800px) {

  .chat-container {
    width: 100%;
    height: 100%
  }
}

/* @media only screen and (max-width: 1000px) {
  .chat-container { */
/* --min-width: 100%;
    width: calc(1170 / 2532 * var(--min-width));
    height: var(--min-width); */
/* min-width: 100vw;
    min-height: auto; */
/* }
} */

/* @media only screen and (min-width: 600px) {
  .chat-container {
    --box-width: 1500px;
  }
}

@media only screen and (max-width: 2000px) {
  .chat-container {
    --box-width: 1300px;
  }
} */

.chat-container .local-video-box {
  /* --box-width: 200px; */
  top: -2px;
  right: -2px;
  position: absolute;
  /* width: 200px; */
  z-index: 5;
  border: 2px solid #8070d4;
  /* border-radius: 0px 20px 0px 20px; */
  background: black;
  display: flex;
  justify-content: center;
  align-items: end;
}

.chat-container .local-video-box video {
  --box-width: 200px;
  /* width: var(--box-width); */
  height: calc(1080/1920 * var(--box-width));
}

.chat-container .remote-video {
  position: absolute;
  /* height: 100%; */
  max-width: 100%;
  max-height: 100%;
}

.chat-container .chat-box {
  z-index: 5;
  width: 100%;
  height: 50vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #f8f9fa2e, rgba(248, 249, 250, 0) 100%);
}

.chat-box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
}

.chat-form {
  border-top: 2px solid #8070d4;
  display: flex;
  width: 100%;
}

.chat-text-input,
.chat-message-send {
  border: none;
  outline: none;
  padding: 15px;
}

.chat-text-input {
  flex: 1;
}

.chat-message-send {
  cursor: pointer;
  background: rgb(128 112 212);
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.chat-messages {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  padding: 0 5px 0px 5px;
}

.chat-messages>* {
  background-color: white;
  width: fit-content;
  padding: 3px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  align-items: end;
}

.chat-message-you {}

.chat-message-me {
  align-self: end;
}

.chat-message-time {
  margin-left: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #0000007d;
  user-select: none;
}

.join-chat-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  width: 250px;
  max-width: 95vw
}

.join-chat-form input,
.join-chat-form button {
  padding: 12px;
  border: none;
}

.join-chat-button {
  cursor: pointer;
  font-weight: bolder;
  color: #000000c4;
}

.chat-text-message {
  word-break: break-word;
}

.loading-progress-on {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ff000a;
  z-index: 7;
  gap: 15px;
}

.loading-progress-on .loading-text {
  color: #fff;
}

.loading-progress-on .spin {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  animation: loading-spin 2s linear infinite;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.chat-text-message-translated {
  font-size: 14px;
  font-weight: 400;
}

.chat-text-message-original {
  font-size: 12px;
  font-weight: bold;
  color: #0000007d;
}

.control-self-video {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
}